model_archive
_pychache_/
*.env
*.csv
test_chouette_dev_python_data_ia.md
*.db
mlartifacts/
mlruns/
secrets.txt
train.py
test_chouette_dev_python_data_ia.md:Zone.Identifier
.python-version
.ipynb_checkpoints/
__pycache__/
